
Goudkoorts_Code/.vs/Goudkoorts_Code/v16/Server/sqlite3/db.lock
Goudkoorts_Code/.vs/Goudkoorts_Code/v16/Server/sqlite3/storage.ide
Goudkoorts_Code/.vs/Goudkoorts_Code/v16/Server/sqlite3/storage.ide-wal
Goudkoorts_Code/.vs/Goudkoorts_Code/v16/Server/sqlite3/storage.ide-wal
Goudkoorts_Code/.vs/Goudkoorts_Code/v16/Server/sqlite3/storage.ide-shm
